/**
Music Community for Web Programming

First Written. 2017-04-14
**/

/*****************************************************
 *
 * [COMMON SETTING]
 *
******************************************************/
body {
     padding-top: 50px;
     overflow-x: hidden;
}

a {
     color: #eb7f00;
}
a > .glyphicon {
     margin-right: 5px;
}
table > thead > tr > th {
     text-align: center;
}

.btn-width200 {
     width: 200px;
}
.btn-width100 {
     width: 100px;
}
.btn-local {
     margin-bottom: 18px;
}
.fill-lemon {
     border: 0;
     background-color: rgb(241, 196, 15);
}
.fill-gray {
     border: 0;
     color: white;
     background-color: rgb(94, 94, 94);
}

/****************************************
 * [RESPONSIVE]
****************************************/
@media screen and (max-width: 1199px) {
     body {
          padding-top: 50px;
     }
}

@media screen and (max-width: 991px) {
     body {
          padding-top: 50px;
     }
}

/** For Smartphone **/
@media screen and (max-width: 767px) {
     body {
          padding-top: 50px;
     }

     /********************************************
      * Menu
     *********************************************/
     .navbar-default .navbar-nav .open .dropdown-menu>li>a {
          color: #fff;
     }

     /********************************************
      * SHEET
     *********************************************/
     .sheet-article .sheet-img {
          text-align: center;
     }
     .sheet-article .sheet-body {
          text-align: center;
     }
     .sheet-article .sheet-info {
          text-align: center;
     }
}

/*****************************************************
 *
 * [Navi]
 *
******************************************************/
.navbar-default {
     background-color: #eb7f00;
     border-color: #d37200;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
     color: #f3ffe2;
}
.navbar-default .navbar-brand:hover {
     color: #ffdeb7;
}
.navbar-default .navbar-nav>li>a:hover {
     background-color: #f3ffe2;
     color: #000;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
     background-color: #ffb038;
     color: #000;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
     background-color: #ffb038;
     color: #f3ffe2;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
     background-color: #337ab7;
     border-color: #337ab7;
}
.navbar-default .navbar-toggle .icon-bar {
     background-color: #fff;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
     background-color: #eb7f00;
     border-color: #eb7f00;
}

.btn-naver {
     color: #fff;
     background-color: #5cb85c;
     border-color: #4cae4c;
}
.btn-naver:hover {
     color: #fff;
     background-color: #71ba71;
}
.btn-facebook {
     color: #fff;
     background-color: #337ab7;
     border-color: #2e6da4;
}
.btn-facebook:hover {
     color: #fff;
     background-color: #4682b5;
}
.btn-primary {
     color: #000;
     background-color: #ffb038;
     border-color: #ffa216;
}

.navbar-form > input {
     padding: 5px 10px;
}
.rtkeyword-form {
     position: relative;
     width: 200px;
     height: 50px;
     overflow: hidden;
     cursor: default;
}
.rtkeyword-form:hover {
     overflow: visible;
}
.rtkeyword {
     position: absolute;
     width: 100%;
     max-height: 188px;
     margin: 0;
     padding-top: 3px;
     padding-left: 25px;
     padding-right: 15px;
     color: #fff0a5;
}
.rtkeyword:hover {
     background-color: #ffb038;
     color: #333;
     overflow-y: scroll;
}
.rtkeyword > li {
     line-height: 35pt;
}

.search-form span {
     color: #fff;
}
.search-form input[type=text] {
     background-color: transparent;
     border: 0;
     border-radius: 0;
     outline: none;
     box-shadow: none;
     border-color: transparent;
     color: #fff;
     border-bottom: 2px solid #fff;
     width: 20px;
     transition: width 0.5s;
}
.search-form input[type=text]::-webkit-input-placeholder {
     color: #fff;
}
.search-form input[type=text]:focus {
     outline: none !important;
     width: 200px;
}

/*****************************************************
 *
 * [Sign In]
 *
******************************************************/
.signin {
     text-align: center;
}
.signin > ul {
     margin: 0;
     padding: 0;
     list-style: none;
}
.signin > ul > li {
     margin: 10px;
}

/*****************************************************
 *
 * [Index]
 *
******************************************************/
.index-list {
     margin-top: 20px;
     margin-bottom: 50px;
}

.index-notice > ul {
     list-style: none;
     line-height: 14pt;
     padding: 5px;
}
.index-notice > ul > li {
     padding: 20px 20px;
     border-bottom: 1px solid #bbb;
}
.index-notice > ul > li:hover {
     background-color: #f7f7f7;
}
.index-notice > ul > li > a {
     color: #000;
     text-decoration: none;
}
.index-notice > ul > li > a > span {
     margin-right: 20px;
}

.slide-nav {
     position: absolute;
}
.slide-nav div, .slide-nav div:hover, .slide-nav .av {
     position: absolute;
     /* size of bullet element */
     width: 16px;
     height: 16px;
     background: url('../img/b05.png') no-repeat;
     overflow: hidden;
     cursor: pointer;
}
.slide-nav div { background-position: -7px -7px; }
.slide-nav div:hover, .slide-nav .av:hover { background-position: -37px -7px; }
.slide-nav .av { background-position: -67px -7px; }
.slide-nav .dn, .slide-nav .dn:hover { background-position: -97px -7px; }

.slide-arrow {display:block;position:absolute;cursor:pointer;}
.slide-arrow .a {fill:#fff;}
.slide-arrow:hover {opacity:.8;}
.slide-arrow.jssora031dn {opacity:.5;}
.slide-arrow.jssora031ds { opacity: .3; pointer-events: none; }

/*****************************************************
 *
 * [About]
 *
******************************************************/
.about-list {
}
.about-list .about-head {
     margin-bottom: 50px;
     padding-bottom: 15px;
     border-bottom: 1px solid gray;
}
.about-list .about-content1 {
     margin-bottom: 50px;
     line-height: 20pt;
}
.about-list .about-content1 h3 {
     color: #e09100;
}
.about-list .about-content2 {
     margin: 0 auto;
}
.about-list .about-content2 h4 {
     margin-top: 30px;
     margin-bottom: 10px;
     font-size: 18pt;
}
.about-list .about-content2 ol > li {
     line-height: 30pt;
     font-size: 12pt;
}


/*****************************************************
 *
 * [Notice Board]
 *
******************************************************/
.notice-list {
}

.notice-bottom .notice-search {
     text-align: center;
}
.notice-bottom .notice-pagination {
     text-align: center;
}

.notice-article a {
     text-decoration: none;
     color: #000;
}


/*****************************************************
 *
 * [Mentor Board]
 *
******************************************************/
.mentor-question {
}

.mentor-article > .row {
     margin-bottom: 20px;
}
.mentor-article .media-body,
.mentor-article .media-left,
.mentor-article .media-right {
     vertical-align: baseline;
}
.mentor-question .media-body,
.mentor-answer .media-body .mentor-article-reply-list {
     background-color: #f7f7f7;
}
.mentor-question .media-body .btn-article-reply,
.mentor-answer .media-body .btn-article-reply {
     margin-left: 20px;
}
.mentor-question .media-body {
     border: 2px solid #ccc;
     border-radius: 10px;
     padding-left: 20px;
}
.mentor-answer .media-body .mentor-article-reply-list {
     border: 2px solid #ccc;
     border-radius: 10px;
     padding: 20px 20px 10px 20px;
     vertical-align: baseline;
     margin-bottom: 10px;
}
.mentor-question .media-body .mentor-article-answer,
.mentor-answer .media-body .mentor-article-reply {
     margin-bottom: 10px;
}
.mentor-answer-list {
     margin-bottom: 20px;
}

.mentor-bottom .mentor-write {
     margin-bottom: 20px;
}
.mentor-bottom .mentor-write  input {
     padding: 15px;
     height: 54px;
}
.mentor-bottom .mentor-write  a {
     padding: 15px;
}
.mentor-bottom .mentor-write .btn {
     border-radius: 0px;
     height: 54px;
}
.mentor-bottom .mentor-search {
     text-align: center;
}
.mentor-bottom .mentor-pagination {
     text-align: center;
}

/*****************************************************
 *
 * [Play Board]
 *
******************************************************/
.play-popular {
     padding: 0px;
}
.play-popular a {
     color: #000;
     text-decoration: none;
}
.play-popular > h2 {
     padding-left: 20px;
}
.play-popular > h2 > span {
     padding-right: 10px;
     vertical-align: baseline;
}
.play-popular > .popular-list {
     margin: 20px 20px 10px 20px;
}
.play-popular .play-popular-article {
     position: relative;
     padding: 20px;
     height: 280px;
     margin-bottom: 10px;
     border: 5px solid #f7f2e1;
     background-color: #fffcf2;
     transition: background-color 0.5s, border-color 0.5s;
}
.play-popular .play-popular-article:hover {
     background-color: #ffecd6;
     border-color: #ff9214;
}
.play-popular .play-popular-article .play-title {
     margin-bottom: 0px;
}
.play-popular .play-popular-article .play-date {
     font-size: 6pt;
}

.play-list a {
     color: #000;
     text-decoration: none;
}
.play-article {
     position: relative;
     padding: 20px;
     height: 320px;
     margin-bottom: 10px;
     border: 5px solid #fff;
     background-color: #eee;
     transition: background-color 0.5s, border-color 0.5s;
}
.play-article:hover {
     background-color: #ffecd6;
     border-color: #ff9214;
}
.play-article .play-title {
     margin-bottom: 0px;
}
.play-article .play-date {
     font-size: 6pt;
}

.play-bottom {
     position: relative;
     margin-bottom: 20px;
}
.play-bottom .play-bottom-right {
     position: absolute;
     top: 0px;
     right: 0px;
}
.play-bottom .play-search {
     text-align: center;
}
.play-bottom .play-pagination {
     text-align: center;
}

/*.board-play > tbody > tr > td:nth-child(1),*/
.board-play > tbody > tr > td:not(:nth-child(4)) {
     text-align: center;
}


/*****************************************************
 *
 * [Sheet Board]
 *
******************************************************/
.sheet-list a {
     color: #000;
     text-decoration: none;
}
.sheet-article {
     position: relative;
     padding: 10px;
     margin-bottom: 10px;
     border: 5px solid #fff;
     background-color: #eee;
     transition: background-color 0.5s, border-color 0.5s;
}
.sheet-article:hover {
     background-color: #ffecd6;
     border-color: #ff9214;
}
.sheet-article .sheet-id {
     font-size: 20pt;
     font-weight: bold;
     padding-left: 25px;
}
.sheet-article .sheet-info {
     padding-top: 10px;
}
.sheet-article .glyphicon {
     margin-right: 10px;
}
.sheet-article label.badge {
     margin-right: 3px;
     vertical-align: baseline;
}
.sheet-article span {
     margin-right: 10px;
}

.sheet-bottom {
     position: relative;
     margin-bottom: 20px;
}
.sheet-bottom .sheet-option {
     margin-bottom: 20px;
}
.sheet-bottom .sheet-bottom-right {
     position: absolute;
     top: 0px;
     right: 0px;
}
.sheet-bottom .sheet-search {
     text-align: center;
}
.sheet-bottom .sheet-pagination {
     text-align: center;
}

/*****************************************************
 *
 * [BOARD - view]
 *
******************************************************/
.view-article {
     padding: 20px;
     /*background-color: #f7f7f9;*/
     margin-bottom: 20px;
}
.view-article .view-head,
.view-article .view-content {
     padding-top: 6px;
}
.view-bottom {
     position: relative;
     margin-bottom: 20px;
}
.view-bottom .view-option {
     margin-bottom: 20px;
}
.view-bottom .view-bottom-right {
     position: absolute;
     top: 0px;
     right: 0px;
}

/*****************************************************
 *
 * [BOARD - write]
 *
******************************************************/
.write-form {
     margin-top: 20px;
}

/*****************************************************
 *
 * [BOARD - modify]
 *
******************************************************/
.modify-form {
     margin-top: 20px;
}

/*****************************************************
 *
 * [BOARD - delete]
 *
******************************************************/
.delete-form {
     margin-top: 20px;
}

/*****************************************************
 *
 * [BOARD - Search]
 *
******************************************************/
.board-search input[type=text] {
     margin-right: 10px;
     padding: 10px;
     width: 0px;
     height: 40px;
     vertical-align: baseline;

     background-color: transparent;
     border: 0;
     border-radius: 0;
     outline: none;
     box-shadow: none;
     border-color: transparent;
     color: #000;
     border-bottom: 1px solid #ccc;
     transition: width 0.5s;
}
.board-search input[type=text]::-webkit-input-placeholder {
     color: #000;
}
.board-search input[type=text]:focus {
     outline: none !important;
     width: 250px;
}
.board-search input[type=submit] {
     height: 40px;
     border-radius: 0px;
}
.board-search .form-control-feedback {
     right: 55px !important;
}


/*
.search-form input[type=text] {


     width: 20px;
     transition: width 0.5s;
}*/

/*****************************************************
 *
 * [Mypage]
 *
******************************************************/
.mypage-box {
     margin-top: 20px;
}
.mypage-form {
     margin-top: 20px;
}
