/**
Music Community for Web Programming

Written. 2017-04-14
Last Updated. 2017-04-14
**/

/*****************************************************
 *
 * [COMMON SETTING]
 *
******************************************************/
body {
     padding-top: 70px;
     overflow-x: hidden;
}

a > .glyphicon {
     margin-right: 5px;
}
table > thead > tr > th {
     text-align: center;
}

.btn-width200 {
     width: 200px;
}
.btn-width100 {
     width: 100px;
}
.fill-lemon {
     border: 0;
     background-color: rgb(241, 196, 15);
}
.fill-gray {
     border: 0;
     color: white;
     background-color: rgb(94, 94, 94);
}

/****************************************
 * [RESPONSIVE]
****************************************/
@media screen and (max-width: 1199px) {
     body {
          padding-top: 70px;
     }
}

@media screen and (max-width: 991px) {
     body {
          padding-top: 118px;
     }
}

/** For Smartphone **/
@media screen and (max-width: 767px) {
     body {
          padding-top: 70px;
     }

     /********************************************
      * SHEET
     *********************************************/
     .sheet-article .sheet-img {
          text-align: center;
     }
     .sheet-article .sheet-body {
          text-align: center;
     }
     .sheet-article .sheet-info {
          text-align: center;
     }
}

/*****************************************************
 *
 * [Navi]
 *
******************************************************/
.navbar-form > input {
     padding: 5px 10px;
}

/*****************************************************
 *
 * [Sign In]
 *
******************************************************/
.signin {
     text-align: center;
}
.signin > ul {
     margin: 0;
     padding: 0;
     list-style: none;
}
.signin > ul > li {
     margin: 10px;
}

/*****************************************************
 *
 * [Mentor Board]
 *
******************************************************/
.mentor-bottom {
     position: relative;
}
.mentor-bottom .mentor-bottom-right {
     position: absolute;
     top: 0px;
     right: 0px;
}
.mentor-bottom .mentor-search {
     text-align: center;
}
.mentor-bottom .mentor-pagination {
     text-align: center;
}

/*****************************************************
 *
 * [Play Board]
 *
******************************************************/
.play-list a {
     color: #000;
     text-decoration: none;
}
.play-article {
     position: relative;
     padding: 20px;
     min-height: 320px;
     margin-bottom: 10px;
     border: 5px solid #fff;
     background-color: #eee;
     transition: background-color 0.5s;
}
.play-article:hover {
     background-color: #ffecd6;
}
.play-article .play-title {
     margin-bottom: 0px;
}
.play-article .play-date {
     font-size: 6pt;
}

.play-bottom {
     position: relative;
}
.play-bottom .play-bottom-right {
     position: absolute;
     top: 0px;
     right: 0px;
}
.play-bottom .play-search {
     text-align: center;
}
.play-bottom .play-pagination {
     text-align: center;
}

/*.board-play > tbody > tr > td:nth-child(1),*/
.board-play > tbody > tr > td:not(:nth-child(4)) {
     text-align: center;
}


/*****************************************************
 *
 * [Sheet Board]
 *
******************************************************/
.sheet-list a {
     color: #000;
     text-decoration: none;
}
.sheet-article {
     position: relative;
     padding: 10px;
     margin-bottom: 10px;
     background-color: #eee;
     transition: background-color 0.5s;
}
.sheet-article:hover {
     background-color: #ffecd6;
}
.sheet-article .sheet-id {
     font-size: 20pt;
     font-weight: bold;
     padding-left: 25px;
}
.sheet-article .sheet-info {
     padding-top: 10px;
}
.sheet-article .glyphicon {
     margin-right: 10px;
}
.sheet-article label.badge {
     margin-right: 3px;
     vertical-align: baseline;
}
.sheet-article span {
     margin-right: 10px;
}

.sheet-bottom {
     position: relative;
}
.sheet-bottom .sheet-bottom-right {
     position: absolute;
     top: 0px;
     right: 0px;
}

.sheet-pagination {
     text-align: center;
}

/*****************************************************
 *
 * [BOARD - view]
 *
******************************************************/
.view-article {
     background-color: #f7f7f9;
}
.view-article .view-head,
.view-article .view-content {
     padding-top: 6px;
}
.view-bottom {
     position: relative;
}
.view-bottom .view-bottom-right {
     position: absolute;
     top: 0px;
     right: 0px;
}
