/**
Music Community for Web Programming

Written. 2017-04-14
Last Updated. 2017-04-14
**/

/*****************************************************
 *
 * [COMMON SETTING]
 *
******************************************************/
body {
     padding-top: 70px;
     overflow-x: hidden;
}

a > .glyphicon {
     margin-right: 5px;
}
table > thead > tr > th {
     text-align: center;
}

/****************************************
 * [RESPONSIVE]
****************************************/
@media screen and (max-width: 1199px) {
     body {
          padding-top: 70px;
     }
}

@media screen and (max-width: 991px) {
     body {
          padding-top: 118px;
     }
}

/** For Smartphone **/
@media screen and (max-width: 767px) {
     body {
          padding-top: 70px;
     }
}

/*****************************************************
 *
 * [Navi]
 *
******************************************************/
.navbar-form > input {
     padding: 5px 10px;
}

/*****************************************************
 *
 * [Sign In]
 *
******************************************************/
.signin {
     text-align: center;
}
.signin > ul {
     margin: 0;
     padding: 0;
     list-style: none;
}
.signin > ul > li {
     margin: 10px;
}

/*****************************************************
 *
 * [Home]
 *
******************************************************/
.board-bottom {
     position: relative;
}
.board-bottom .board-bottom-right {
     position: absolute;
     top: 0px;
     right: 0px;
}
.board-bottom .board-pagination {
     text-align: center;
}

/*****************************************************
 *
 * [Play Board]
 *
******************************************************/
/*.board-play > tbody > tr > td:nth-child(1),*/
.board-play > tbody > tr > td:not(:nth-child(4)) {
     text-align: center;
}
