<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>Music Community</title>

          <!-- SmartEditor2 -->
          <script type="text/javascript" src="../../smarteditor/js/service/HuskyEZCreator.js" charset="utf-8"></script>

          <!-- Bootstrap CSS -->
          <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">

          <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->

          <!-- Custom Fix -->
          <link rel="stylesheet" type="text/css" href="../../css/custom.css">
     </head>

     <body>
<% include _menu %>
          <!--nav class="navbar navbar-default navbar-fixed-top">
               <div class="container">
                    <div class="navbar-header">
                         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                         </button>
                         <a class="navbar-brand" href="#">음악의 대명사</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                         <ul class="nav navbar-nav">
                              <li class=""><a href="/index">홈</a></li>
                              <li class=""><a href="/about">소개</a></li>
                              <li class="active dropdown">
                                   <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">커뮤니티<span class="caret"></span></a>
                                   <ul class="dropdown-menu">
                                        <li class="active"><a href="/play">연주 게시판</a></li>
                                        <li class=""><a href="/mentor">멘토 게시판</a></li>
                                        <li class=""><a href="/sheet">악보 게시판</a></li>
                                   </ul>
                              </li>
                         </ul>

                         <ul class="nav navbar-nav navbar-right">
                              <li class="">
                                   <a href="/mypage"><span class="glyphicon glyphicon-user"></span>내 정보</a>
                              </li>
                              <li class="">
                                   <a href="/login"><span class="glyphicon glyphicon-off"></span>로그인</a>
                              </li>
                         </ul>
                         <form class="navbar-form navbar-right">
                              <input type="text" name="form-control" placeholder="검색...">
                         </form>
                    </div>
               </div>
          </nav-->

          <div class="container">
               <div class="row">
                    <form class="form-horizontal" action="/board/play/write" method="post">
                         <div class="form-group">
                              <label for="inputCategory" class="col-sm-2 control-label">카테고리</label>
                              <div class="col-sm-10">
                                   <select class="form-control" id="inputCategory">
                                        <option value="total">전체</option>
                                        <option value="violin">바이올린</option>
                                        <option value="piano">피아노</option>
                                        <option value="guitar">기타</option>
                                        <option value="drum">드럼</option>
                                   </select>
                              </div>
                         </div>
                         <div class="form-group">
                              <label for="inputTitle" class="col-sm-2 control-label">제목</label>
                              <div class="col-sm-10">
                                   <input id="inputTitle" type="text" class="form-control" placeholder="제목을 입력하세요." required>
                              </div>
                         </div>
                         <div class="form-group">
                              <label for="inputTitle" class="col-sm-2 control-label">내용</label>
                              <div class="col-sm-10">
                                   <form action="/_write/writeok" method="post">
                                        <textarea name="ir1" id="ir1" rows="10" cols="100" style="width:766px; height:412px; display:none;"></textarea>
                                   </form>
                              </div>
                         </div>
                         <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                   <input type="button" class="btn btn-default" onclick="submitContents(this);" value="작성" />
                              </div>
                         </div>
                    </form>
               </div>
          </div>

          <!-- SmartEdtior Load -->
          <script type="text/javascript">
          var oEditors = {};
          var sLang = "ko_KR";	// 언어 (ko_KR/ en_US/ ja_JP/ zh_CN/ zh_TW), default = ko_KR

          // IFrame 삽입
          nhn.husky.EZCreator.createInIFrame({
          	oAppRef: oEditors,
          	elPlaceHolder: "ir1",
          	sSkinURI: "../../smarteditor/SmartEditor2Skin.html",
          	htParams : {
          		bUseToolbar : true,				// 툴바 사용 여부 (true:사용/ false:사용하지 않음)
          		bUseVerticalResizer : true,		// 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
          		bUseModeChanger : true,			// 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
          		//bSkipXssFilter : true,		// client-side xss filter 무시 여부 (true:사용하지 않음 / 그외:사용)
          		//aAdditionalFontList : aAdditionalFontSet,		// 추가 글꼴 목록
          		fOnBeforeUnload : function(){
          			//alert("완료!");
          		},
          		I18N_LOCALE : sLang
          	}, //boolean
          	fOnAppLoad : function(){
          		//예제 코드
          		//oEditors.getById["ir1"].exec("PASTE_HTML", ["로딩이 완료된 후에 본문에 삽입되는 text입니다."]);
          	},
          	fCreator: "createSEditor2"
          });

          function submitContents(elClickedObj) {
          	oEditors.getById["ir1"].exec("UPDATE_CONTENTS_FIELD", []);	// 에디터의 내용이 textarea에 적용됩니다.

          	// 에디터의 내용에 대한 값 검증은 이곳에서 document.getElementById("ir1").value를 이용해서 처리하면 됩니다.

          	try {
          		elClickedObj.form.submit();
          	} catch(e) {}
          }
          </script>

          <!-- jQuery -->
          <script src="//code.jquery.com/jquery.js"></script>
          <!-- Bootstrap JavaScript -->
          <!--script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script-->
          <script src="../../js/bootstrap.min.js"></script>
          <!-- Tether -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
     </body>
</html>
