<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>Music Community</title>

          <!-- ckeditor -->
          <script type="text/javascript" src="../../ckeditor/ckeditor.js"></script>

          <!-- Bootstrap CSS -->
          <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">

          <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->

          <!-- Custom Fix -->
          <link rel="stylesheet" type="text/css" href="../../css/custom.css">
     </head>

     <body>
<% if (!loginState) { %>
          <script type="text/javascript">
               alert("로그인을 하셔야 합니다!");
               history.back();
          </script>
<% } %>
<% include _menu %>
          <!--nav class="navbar navbar-default navbar-fixed-top">
               <div class="container">
                    <div class="navbar-header">
                         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                         </button>
                         <a class="navbar-brand" href="#">음악의 대명사</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                         <ul class="nav navbar-nav">
                              <li class=""><a href="/index">홈</a></li>
                              <li class=""><a href="/about">소개</a></li>
                              <li class="active dropdown">
                                   <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">커뮤니티<span class="caret"></span></a>
                                   <ul class="dropdown-menu">
                                        <li class="active"><a href="/play">연주 게시판</a></li>
                                        <li class=""><a href="/mentor">멘토 게시판</a></li>
                                        <li class=""><a href="/sheet">악보 게시판</a></li>
                                   </ul>
                              </li>
                         </ul>

                         <ul class="nav navbar-nav navbar-right">
                              <li class="">
                                   <a href="/mypage"><span class="glyphicon glyphicon-user"></span>내 정보</a>
                              </li>
                              <li class="">
                                   <a href="/login"><span class="glyphicon glyphicon-off"></span>로그인</a>
                              </li>
                         </ul>
                         <form class="navbar-form navbar-right">
                              <input type="text" name="form-control" placeholder="검색...">
                         </form>
                    </div>
               </div>
          </nav-->

          <div class="container">
               <div class="row">
                    <form class="form-horizontal" action="/board/<%= bid %>/writeok" method="post">
<% if (bid == "sheet" || bid == "play") { %>
                         <div class="form-group">
                              <label for="writeInpCate" class="col-sm-2 control-label">카테고리</label>
                              <div class="col-sm-10">
                                   <select class="form-control" id="writeInpCate" name="writeInpCate"><% for (var i = 0; i < boardCategory.length; i++) { %>
                                        <option value="<%= boardCategory[i].id %>"><%= boardCategory[i].name %></option><% } %>
                                   </select>
                              </div>
                         </div>
<% } %>
                         <div class="form-group">
                              <label for="writeInpTitle" class="col-sm-2 control-label">제목</label>
                              <div class="col-sm-10">
                                   <input id="writeInpTitle" name="writeInpTitle" type="text" class="form-control" placeholder="제목을 입력하세요." required />
                              </div>
                         </div>
<% if (bid == "play") { %>
                         <div class="form-group">
                              <label for="writeYoutubeURL" class="col-sm-2 control-label">Youtube 영상 주소</label>
                              <div class="col-sm-10">
                                   <input id="writeYoutubeURL" name="writeYoutubeURL" type="text" class="form-control" placeholder="Youtube 영상 주소를 입력하세요. (예: https://www.youtube.com/watch?v=cwHgJudJ_Rc)" />
                              </div>
                         </div>
<% } %>
                         <div class="form-group">
                              <label for="writeInpContent" class="col-sm-2 control-label">내용</label>
                              <div class="col-sm-10">
                                   <textarea name="writeInpContent" id="writeInpContent" rows="10" cols="100" style="width:766px; height:412px; display:none;"></textarea>
                              </div>
                         </div>
                         <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                   <input type="hidden" id="writeInpBid" name="writeInpBid" value="<%= bid %>" />
                                   <input type="button" class="btn btn-default" onclick="submitContents(this);" value="작성" />
                              </div>
                         </div>
                    </form>
               </div>
          </div>

          <!-- ckeditor -->
          <script type="text/javascript">
               CKEDITOR.replace("writeInpContent", {
                    filebrowserUploadUrl: '/service/upload'
                    //filebrowserImageUploadUrl: '/uploads'
               });

               function submitContents(elClickedObj) {
                    var editor = CKEDITOR.instances.writeInpContent
                      , editor_Data = editor.getData();
                    if (editor_Data.length < 1) {
                         alert("내용을 입력해주세요!");
                         return;
                    }

                    try {
                         elClickedObj.form.submit();
                    } catch (e) {}
               }
          </script>
          <!-- jQuery -->
          <script src="//code.jquery.com/jquery.js"></script>
          <!-- Bootstrap JavaScript -->
          <!--script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script-->
          <script src="../../js/bootstrap.min.js"></script>
          <!-- Tether -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
     </body>
</html>
