<!DOCTYPE html>
<html lang="ko">
     <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>Music Community</title>

          <!-- Bootstrap CSS -->
          <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

          <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->

          <!-- Custom Fix -->
          <link rel="stylesheet" type="text/css" href="css/custom.css">
     </head>

     <body>
<% include _menu %>
          <div class="container">
               <div class="row about-list">
                    <div class="col-sm-12">
                         <h2 class="about-head">음악의 대명사 소개</h2>
                         <div class="about-content1 text-center">
                              <h3><b>음악의 대명사 소개</b></h3>
                              <p>
                                   저희 음악의 대명사 사이트는 <b>바쁘게 살아가고 있는 현대인들을 위한 쉼터</b>로서 음악을 통하여 삶의 이유를 느낄 수 있습니다.<br>
                                   또한 관심있는 악기 분야에 대한 정보를 서로 공유하고 배워갈 수 있는 <b>멘토 게시판</b>과 멋진 연주 영상을 공유하여<br>
                                   볼 수 있는 <b>연주 게시판</b> 그리고 연주할 때 가장 중요한 <b>악보 게시판</b>이 있습니다.
                              </p>
                         </div>
                         <div class="row about-content2">
                              <div class="col-sm-6 text-center">
                                   <img src="img/about_girl.jpg" class="img-thumbnail" alt="음악 감상">
                              </div>
                              <div class="col-sm-6">
                                   <h4>음악의 효과</h4>
                                   <ol>
                                        <li>기분을 좋게 만든다.</li>
                                        <li>집중력을 향상시킨다.</li>
                                        <li>심리적 안정을 얻을 수 있다.</li>
                                        <li>두통같은 통증을 줄여준다.</li>
                                   </ol>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

<% include _foot %>
     </body>
</html>
