<!DOCTYPE html>
<html lang="ko">
     <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>Music Community</title>

          <!-- Bootstrap CSS -->
          <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

          <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->

          <!-- Custom Fix -->
          <link rel="stylesheet" type="text/css" href="css/custom.css">
     </head>

     <body>
          <nav class="navbar navbar-default navbar-fixed-top">
               <div class="container">
                    <div class="navbar-header">
                         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                         </button>
                         <a class="navbar-brand" href="#">음악의 대명사</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                         <ul class="nav navbar-nav">
                              <li class=""><a href="/index">홈</a></li>
                              <li class=""><a href="/about">소개</a></li>
                              <li class="dropdown">
                                   <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">커뮤니티<span class="caret"></span></a>
                                   <ul class="dropdown-menu">
                                        <li class=""><a href="/board/play">연주 게시판</a></li>
                                        <li class=""><a href="/board/mentor">멘토 게시판</a></li>
                                        <li class=""><a href="/board/sheet">악보 게시판</a></li>
                                   </ul>
                              </li>
                         </ul>
                         <ul class="nav navbar-nav navbar-right">
                              <li class="active">
                                   <a href="/mypage"><span class="glyphicon glyphicon-user"></span>내 정보</a>
                              </li>
                              <li class=""><% if (loginState == undefined) { %>
                                   <a href="/auth/login/naver"><span class="glyphicon glyphicon-off"></span>로그인</a><% } else { %>
                                   <a href="/logout"><span class="glyphicon glyphicon-off"></span>로그아웃</a><% } %>
                              </li>
                         </ul>
                         <form class="navbar-form navbar-right">
                              <input type="text" name="form-control" placeholder="검색...">
                         </form>
                    </div>
               </div>
          </nav>

          <div class="container mypage-box">
               <div class="row">
                    <div class="col-sm-2">
                         <ul class="nav nav-pills nav-stacked btnList">
                              <li role="presentation" class="active"><a class="btnOverview" href="#">개요</a></li>
                              <li role="presentation"><a class="btnSetting" href="#">설정</a></li>
                         </ul>
                    </div>
                    <div class="col-sm-10">
                         <div class="overview">
                              <form class="form-horizontal mypage-form" method="post">
                                   <div class="form-group">
                                        <label for="inputId" class="col-sm-2 control-label">고유 ID</label>
                                        <div class="col-sm-10">
                                             <input type="email" id="inputId" class="form-control" value="<%= loginState.cmid %>" placeholder="CMID" disabled>
                                        </div>
                                   </div>
                                   <div class="form-group">
                                        <label for="inputaid" class="col-sm-2 control-label">아이디</label>
                                        <div class="col-sm-10">
                                             <input type="email" id="inputaid" class="form-control" value="<%= loginState.id %>" placeholder="AID" disabled>
                                        </div>
                                   </div>
                                   <div class="form-group">
                                        <label for="inputEmail" class="col-sm-2 control-label">닉네임</label>
                                        <div class="col-sm-10">
                                             <input type="email" id="inputEmail" class="form-control" value="<%= loginState.displayName %>" placeholder="Nickname" disabled>
                                        </div>
                                   </div>
                              </form>
                         </div>
                         <div class="setting">
                              <form class="well">
                              </form>
                         </div>
                    </div>
               </div>
          </div>

<% include _foot %>

          <script type="text/javascript">
               $(".overview").show();
               $(".setting").hide();

               $(".btnOverview").click(function () {
                    $(".overview").show();
                    $(".setting").hide();
                    $(".btnList > li")[0].setAttribute("class", "active");
                    $(".btnList > li")[1].setAttribute("class", "");
               });
               $(".btnSetting").click(function () {
                    $(".overview").hide();
                    $(".setting").show();
                    $(".btnList > li")[0].setAttribute("class", "");
                    $(".btnList > li")[1].setAttribute("class", "active");
               });
          </script>
     </body>
</html>
